/* CartPage.module.css */

.cartPage {
    padding: 20px;
}

.cartPage h1 {
    margin-bottom: 20px;
}

.cartPage p {
    margin: 10px 0;
}

.cartList {
    list-style-type: none;
    padding: 0;
}

.cartListItem {
    display: flex;
    align-items: center;  
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cartListItem img {
    max-width: 35%;   
    height: auto;      
    max-height: 200px;   
    object-fit: cover;  
    margin-right: 20px; 
    border-radius: 5px; 
}

.cartItemDetails {
    flex: 1;            
    display: flex;
    flex-direction: column;
}

.cartItemDetails h2, .cartItemDetails p {
    margin: 5px 0;
    word-wrap: break-word;
}

.cartPage button {
    background-color: #45a049;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.cartPage button:hover {
    background-color: #408941;
}

h3 {
    margin-top: 20px;
}
